#g-timeline {
	line-height: 1.3;
	max-width: 600px;
	position: absolute;
	left: 0; 
	right:0;
    margin: auto;
}
.g-top-hed {
	font-size: 28px;
	margin-bottom: 40px;
	font-weight: 800;
	line-height: 1.2;
}
@media only screen and (max-width: 719px) {
	.g-top-hed {
		font-size: 22px;
	}
}
.g-iran {
	width: 45%;
	float: left;
	text-align: right;
}
.g-pakistan {
	width: 45%;
	float: right;
	text-align: left;
}
.g-date-wrap {
	clear: both;
}
.g-date {
	text-align: center;
	font-size: 12px;
	font-weight: 100;
	margin-bottom: 10px;
	color: #aaa;
	background: white;
	padding-bottom: 4px;
	position: relative;
	z-index: 3;
}

.g-date::before {
	content: "";
	height: 1px;
	width: 5%;
	margin: 4px auto;
	background: #ccc;
	display: block;
	position: relative;
	z-index: 3;
}
#g-middle-line {
	width: 1px;
	background-color: #ccc;
	left: 50%;
	position: absolute;
	height: 9000px;
	z-index: 1;
}

.two-flag-icon {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	position: absolute;
	left: 0; 
	right:0;
    margin: auto;
	z-index: 4;
}


.scrolling {
    position: fixed;
    top: 0;
}

.g-event {
	text-align: center;
	font-weight: 100;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 10px 0;
	background-color: white;
	margin-top: -20px;
	position: relative;
	z-index: 2;
}
.g-iran-content {
	font-size: 16px;
	text-align: right;
	width: 45%;
	float: left;
	margin-bottom: 40px;
	font-weight: 500;
}

.g-pakistan-content {
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 40px;
	font-weight: 500;
}

.g-pakistan-header {
	font-size: 22px;
	line-height: 1.3;
	margin-bottom: 40px;
	font-weight: 500;
}

.g-pakistan-wrapper {
	text-align: left;
	width: 45%;
	float: right;
}

@media only screen and (max-width: 719px) {
	.g-person img {
		font-size: 12px;
		width: 28px;
		height: 28px;
		margin-right: 5px;
	}
}
.g-title {
	font-size: 13px;
	font-weight: 100;
	opacity: .85;
	display: block;
	line-height: 1.3;
}
@media only screen and (max-width: 719px) {
	.g-title {
		font-size: 11px;
		margin-left: 33px;
	}
}
.story-footer {
	clear: both;
}
.g-clinton {
	background-color: #468ed6;
	border-radius: 2px;
	color: white;
}
.summary-text span {
	padding: 2px 4px;
	background: #468ed6;
	border-radius: 3px;
	color: white;
}
.g-date-wrap:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#g-recent {
	margin: 0px auto 50px auto;
	background-color: #fff3b8;
	padding: 14px 24px;
	display: block;
	border: none;
	border-radius: 8px;
	font-weight: 300;
	color: #326891;
	font-size: 18px;
	-webkit-transition: .25s all;
	transition: .25s all;
}
#g-recent:hover {
	background: #326891;
	border-bottom-color: #1b618c;
}
#g-recent:hover a {
	color: white;
}
.g-hide {
	display: none;
}
.g-new-section {
	text-align: center;
}
#left-recently {
	margin-bottom: 50px;
}
.viewport-medium #left-recently {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}